* {
	/* border: 1px solid red; */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	border: 1px solid red;
}

/* HEADER */

.container--header {
	background: mediumaquamarine;
}

.header {
	width: 80%;
	margin: 0 auto;
}

.header,
.header__navbar__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__navbar__list__item {
	list-style: none;
	padding-left: 2em;
}

/* .header__navbar__list__item:last-of-type {
	padding-right: 2em;
} */

.header__navbar__list__item__link {
	text-decoration: none;
	color: black;
}

/* MAIN */

/* ABOUT */

.container--about {
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url("./img/hero.jpg");
	background-size: cover;
	height: 100vh;
}

.about {
	height: 100vh;
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about__description {
	text-align: justify;
}

/* PROJECTS */
.container--projects {
	margin: 0 auto;
}
.projects__grid {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-template-rows: repeat(6, 400px);
	grid-gap: calc((100% - (3 * 300px)) / 2);
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	margin-bottom: 2em;
}

.projects__grid__card {
	display: flex;
	flex-direction: column;
	width: 300px;
	max-width: 300px;
	height: 400px;
	max-height: 400pc;
	padding: 2em;
	box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
	background: #eee;
	border-radius: 10px;
}

.projects__grid__card__img {
	width: 100%;
	max-height: 30%;
	object-fit: cover;
}

.projects__grid__card__title {
	font-size: 1.2rem;
	text-align: center;
	font-weight: 600;
	padding: 0.2em;
}

.projects__grid__card__description {
	width: 100%;
	height: 30%;
	max-height: 30%;
	opacity: 0.5;
	font-size: 0.8rem;
	text-align: justify;
	max-lines: 3;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
