/* VARIABLES */

:root {
	--black: #000000;
	--dark: #333333;
	--main-color-dark: #00606b;
	--main-color-medium: #00a1b2;
	--main-color-light: #00c1d6;
	--main-color-lighter: #00e1f9;
	--off-white: #eeeeee;
	--white: #ffffff;
}

/* RESET */

* {
	margin: 0;
	border: 1px solid red;
	padding: 0;
	box-sizing: border-box;
}

/* GENERAL */

html,
body {
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
}

/* TYPOGRAPHY */

/* Header */

.container--header {
	font-family: "Montserrat", sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
}

.header__navbar__list__item {
	list-style: none;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.header__navbar__list__item__link {
	text-decoration: none;
	color: var(--white);
}

.header__navbar__list__item__link:active,
.header__navbar__list__item__link:hover {
	color: var(--main-color-medium);
}

/* About */

.about__title {
	font-family: "Montserrat", sans-serif;
	font-size: 4rem;
	color: var(--dark);
	text-shadow: rgba(0, 0, 0, 0.1) 0px 6px 6px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
}

.about__subtitle {
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	padding-left: 0.1em;
	color: var(--main-color-medium);
}

.about__description {
	font-size: 1.4rem;
	padding-top: 2em;
	padding-left: 0.18em;
}

.projects__grid__card__title {
	font-family: "Montserrat", sans-serif;
	color: var(--white);
	font-weight: 500;
	font-size: 1.5rem;
	text-align: center;
}

.projects__grid__card__description {
	font-size: 0.8rem;
	text-align: justify;
	color: var(--white);
}

.projects__grid__card__skills__skill {
	color: var(--main-color-medium);
	font-size: 0.9rem;
}

.projects__grid__card__links__link {
	color: var(--white);
	background: var(--main-color-medium);
	padding: 0.2em;
	text-decoration: none;
}

.projects__grid__card__links__link:active,
.projects__grid__card__links__link:hover {
	background: var(--main-color-light);
}

.contact__body {
	font-size: 3rem;
	font-family: "Montserrat", sans-serif;
	color: var(--dark);
	font-weight: 600;
	text-align: center;
	margin-bottom: 1em;
}

.contact__list__item {
	font-size: 1.2rem;
}

.contact__list__item__link {
	text-decoration: none;
	color: var(--black);
}

.contact__list__item__link:active,
.contact__list__item__link:hover {
	color: var(--main-color-medium);
}

.footer__body {
	font-size: 1rem;
	color: var(--white);
}

/* LAYOUT */

/* General */

.padd-top {
	padding-top: 10em;
}

/* Header */

.container--header {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	background: var(--dark);
}

.header {
	width: 80%;
	max-width: 1440px;
}

.header__navbar__list {
	display: flex;
	justify-content: flex-end;
}

.header__navbar__list__item {
	padding-left: 3em;
	padding: 2em 0 2em 3em;
}

.header__navbar__list__item:first-of-type {
	padding-left: 0;
}

@media screen and (max-width: 500px) {
	.header {
		transform: scale(0.8);
		width: 100%;
	}
	.header__navbar__list {
		width: 100%;
		justify-content: center;
	}
	.header__navbar__list__item {
		padding: 0.5em;
	}
	.header__navbar__list__item:first-of-type {
		padding-left: 0.5em;
	}
}

/* About */

.container--about {
	background: url(https://i.postimg.cc/zXtVKMNR/hugo-barbosa-Tn-G2q8-Ft-Xsg-unsplash-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 100vh;
}

.about {
	width: 80%;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.about__description {
	text-align: justify;
}

@media screen and (max-width: 600px) {
	.about {
		transform: scale(0.9);
		width: 90%;
	}
}

/* Projects */

.container--projects {
	background: var(--white);
	display: flex;
	justify-content: center;
	padding-bottom: 3em;
}

.projects__grid {
	width: 80%;
	max-width: 1440px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3em;
}

.projects__grid__card {
	display: flex;
	flex-direction: column;
	background: var(--dark);
	box-shadow: 0 20px 50px -10px;
	padding: 2em;
	width: 300px;
	height: 550px;
}

.projects__grid__card__img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.projects__grid__card__title {
	padding: 1em 0;
}

.projects__grid__card__description {
	height: 220px;
}

.projects__grid__card__skills {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 2em 0;
}

.projects__grid__card__skills__skill {
	margin: 0 0.5em 0.5em 0;
	padding: 0.2em;
}

.projects__grid__card__links {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 1.2em;
}

.projects__grid__card__links__link {
	padding: 0.4em 1em;
}

.container--contact {
	background: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100vh;
}

.contact__body {
	text-shadow: rgba(0, 0, 0, 0.1) 0px 6px 6px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
}

.contact__list {
	display: flex;
	justify-content: center;
	list-style: none;
}

.contact__list__item {
	margin: 1.2em;
	transition: transform 0.3s ease-in-out;
}

.contact__list__item:hover {
	transform: translateY(-5px);
	text-shadow: rgba(0, 0, 0, 0.1) 0px 6px 6px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
}

.container--footer {
	background: var(--dark);
	display: flex;
	justify-content: center;
}

/* @media screen and (max-width: 870px) {
	.container--contact {
		transform: scale(0.7);
		width: 80%;
	}

	.contact__body {
		max-width: 80%;
		overflow-wrap: break-word;
		text-align: center;
	}
} */

.footer__body {
	margin: 3em;
}
